@media screen and (min-width: 951px) {


.contact {
  margin: 0;
  padding: 6rem 18rem;
}
}

main {
  background-color: lightgray;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.contact h2 {
  text-align: center;
  padding: 1rem;
}

.contact-wrapper {
  margin: 0.1rem 1.1rem 0 1.1rem;
  display: flex;
  border-radius: 11px;
  padding: 0.1rem 1.1rem 1.1rem 1.1rem;
  box-shadow: 6px 14px 23px 3px black;
  flex-direction: column;
  align-content: flex-start;
}

.contact-form {
  flex-basis: 45%;
}

      .contact-form  h3 {
        padding: 0.1rem;
      }

.contact-info {
  flex-basis: 45%;
}

.form-group {
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.contact-info {
  margin: 2rem;
}